<h1 class="display-4">Tickets</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Tag</th>
            <th>Liste des tickets en attentes</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% tickets.forEach(function(ticket){ %>
            <tr>
                <td><%= ticket.tag%></td>
                <td><%= ticket.status%></td>
                <td>
                    <form class="d-inline" action="/tickets/answer/<%= ticket.id %>" method="post">
                        <input type="submit" value="Répondre" class="btn btn-warning">
                    </form>
                </td>
            </tr>
        <% }) %>
    </tbody>
</table>