<h1 class="display-4">Tickets</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Tag</th>
            <th>Refused tickets</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% tickets.forEach(function(ticket){ %>
            <tr>
                <td><%= ticket.tag%></td>
                <td><%= ticket.status%></td>
            </tr>
        <% }) %>
    </tbody>
</table>
